.chat-container {
  max-width: 1200px;
  overflow-x: hidden;
  padding: 12px 12px;
}

.chat-sidebar-item {
  transition: 0.4s;
  -webkit-transition: 0.4s;
}

.chat-sidebar-item.dark {
  background-color: #555;
  color: #fff;
}

.chat-body {
  min-height: 100%;
  border: 1px solid black;
}

.chat-messages {
  overflow: auto;
}

.chat-header {
  font-size: 24px;
  padding: 6px 16px 4px;
}

.chat-sender {
  position: absolute;
  bottom: 0;
  left: 12px;
  right: 12px;
}

.chat-columns {
  padding: 5px 5px 0;
}

.chat-input-prepend {
  transition: 0.4s;
  -webkit-transition: 0.4s;
}

.chat-input-prepend.dark {
  background-color: #444;
  color: #fff;
  border-color: #606060;
}

.chat-input-form {
  resize: none;
  transition: 0.4s;
  -webkit-transition: 0.4s;
}

.chat-input-form.dark {
  background-color: #555;
  color: #fff;
  border-color: #606060;
}

.chat-input-form-body {
  resize: none;
}

.chat-submit.dark {
  background-color: #555;
}
