.home-container {
  max-width: 1200px;
  padding: 12px 12px;
}

.home-description-col {
  padding: 20px;
}

.home-status-div {
  padding: 30px 20px;
}

.home-link-wrapper {
  display: flex;
  justify-content: center;
}
